<robot xmlns:xacro="http://www.ros.org/wiki/xacro"
       xmlns:geom="http://playerstage.sourceforge.net/gazebo/xmlschema/#geom">
  
  <!-- muscle is true for muscle hand or false for motor hand -->
  <!-- bio is true for biotac finger or false for standard finger -->
  <!-- ubi is true for ubi finger or false for standard finger -->
  <!-- eli is true for ellipsoid fingertip or false for standard finger -->
  <!-- prefix can be anything but usually is "r_" or  "l_" for right and left hands distinction -->
  <!-- link_prefix prepends fingername to the link names -->
  <!-- finger_number is the finger index in the distal tactile message -->
  <xacro:macro name="distal_tactile" params="bio ubi eli prefix link_prefix finger_number">
      <xacro:if value="${ubi}">
        <!-- Ubi distal -->            
        <tactile topic="tactile" data="tactiles[${finger_number}]/distal[0]" link="${prefix}${link_prefix}distal" ns="${prefix}${link_prefix}_ubi_tip" xs="1023 0">
          <origin xyz="0 0 0" rpy="0 0 0" />
          <geometry>
            <mesh filename="package://sr_description/hand/model/ubi_tactiles/tax_tip_0.stl" scale="0.00101 0.00101 0.00101" />
          </geometry>    
        </tactile>
        <tactile topic="tactile" data="tactiles[${finger_number}]/distal[1]" link="${prefix}${link_prefix}distal" ns="${prefix}${link_prefix}_ubi_tip" xs="1023 0">
          <origin xyz="0 0 0" rpy="0 0 0" />
          <geometry>
            <mesh filename="package://sr_description/hand/model/ubi_tactiles/tax_tip_1.stl" scale="0.00101 0.00101 0.00101" />
          </geometry>    
        </tactile>
        <tactile topic="tactile" data="tactiles[${finger_number}]/distal[2]" link="${prefix}${link_prefix}distal" ns="${prefix}${link_prefix}_ubi_tip" xs="1023 0">
          <origin xyz="0 0 0" rpy="0 0 0" />
          <geometry>
            <mesh filename="package://sr_description/hand/model/ubi_tactiles/tax_tip_2.stl" scale="0.00101 0.00101 0.00101" />
          </geometry>    
        </tactile>
        <tactile topic="tactile" data="tactiles[${finger_number}]/distal[3]" link="${prefix}${link_prefix}distal" ns="${prefix}${link_prefix}_ubi_tip" xs="1023 0">
          <origin xyz="0 0 0" rpy="0 0 0" />
          <geometry>
            <mesh filename="package://sr_description/hand/model/ubi_tactiles/tax_tip_3.stl" scale="0.00101 0.00101 0.00101" />
          </geometry>    
        </tactile>
        <tactile topic="tactile" data="tactiles[${finger_number}]/distal[4]" link="${prefix}${link_prefix}distal" ns="${prefix}${link_prefix}_ubi_tip" xs="1023 0">
          <origin xyz="0 0 0" rpy="0 0 0" />
          <geometry>
            <mesh filename="package://sr_description/hand/model/ubi_tactiles/tax_tip_4.stl" scale="0.00101 0.00101 0.00101" />
          </geometry>    
        </tactile>
        <tactile topic="tactile" data="tactiles[${finger_number}]/distal[5]" link="${prefix}${link_prefix}distal" ns="${prefix}${link_prefix}_ubi_tip" xs="1023 0">
          <origin xyz="0 0 0" rpy="0 0 0" />
          <geometry>
            <mesh filename="package://sr_description/hand/model/ubi_tactiles/tax_tip_5.stl" scale="0.00101 0.00101 0.00101" />
          </geometry>    
        </tactile>
        <tactile topic="tactile" data="tactiles[${finger_number}]/distal[6]" link="${prefix}${link_prefix}distal" ns="${prefix}${link_prefix}_ubi_tip" xs="1023 0">
          <origin xyz="0 0 0" rpy="0 0 0" />
          <geometry>
            <mesh filename="package://sr_description/hand/model/ubi_tactiles/tax_tip_6.stl" scale="0.00101 0.00101 0.00101" />
          </geometry>    
        </tactile>
        <tactile topic="tactile" data="tactiles[${finger_number}]/distal[7]" link="${prefix}${link_prefix}distal" ns="${prefix}${link_prefix}_ubi_tip" xs="1023 0">
          <origin xyz="0 0 0" rpy="0 0 0" />
          <geometry>
            <mesh filename="package://sr_description/hand/model/ubi_tactiles/tax_tip_7.stl" scale="0.00101 0.00101 0.00101" />
          </geometry>    
        </tactile>
        <tactile topic="tactile" data="tactiles[${finger_number}]/distal[8]" link="${prefix}${link_prefix}distal" ns="${prefix}${link_prefix}_ubi_tip" xs="1023 0">
          <origin xyz="0 0 0" rpy="0 0 0" />
          <geometry>
            <mesh filename="package://sr_description/hand/model/ubi_tactiles/tax_tip_8.stl" scale="0.00101 0.00101 0.00101" />
          </geometry>    
        </tactile>
        <tactile topic="tactile" data="tactiles[${finger_number}]/distal[9]" link="${prefix}${link_prefix}distal" ns="${prefix}${link_prefix}_ubi_tip" xs="1023 0">
          <origin xyz="0 0 0" rpy="0 0 0" />
          <geometry>
            <mesh filename="package://sr_description/hand/model/ubi_tactiles/tax_tip_9.stl" scale="0.00101 0.00101 0.00101" />
          </geometry>    
        </tactile>
        <tactile topic="tactile" data="tactiles[${finger_number}]/distal[10]" link="${prefix}${link_prefix}distal" ns="${prefix}${link_prefix}_ubi_tip" xs="1023 0">
          <origin xyz="0 0 0" rpy="0 0 0" />
          <geometry>
            <mesh filename="package://sr_description/hand/model/ubi_tactiles/tax_tip_10.stl" scale="0.00101 0.00101 0.00101" />
          </geometry>    
        </tactile>
        <tactile topic="tactile" data="tactiles[${finger_number}]/distal[11]" link="${prefix}${link_prefix}distal" ns="${prefix}${link_prefix}_ubi_tip" xs="1023 0">
          <origin xyz="0 0 0" rpy="0 0 0" />
          <geometry>
            <mesh filename="package://sr_description/hand/model/ubi_tactiles/tax_tip_11.stl" scale="0.00101 0.00101 0.00101" />
          </geometry>    
        </tactile>     
      </xacro:if> 
  </xacro:macro>

</robot>
