<robot xmlns:xacro="http://ros.org/wiki/xacro"
       xmlns:geom="http://playerstage.topicforge.net/gazebo/xmlschema/#geom">
  
  <!-- prefix can be anything but usually is "r_" or  "l_" for right and left hands distinction -->
  <!-- link_prefix prepends fingername to the link names -->
  <!-- finger_number is the finger index in the distal tactile message -->
  <xacro:macro name="middle_tactile" params="prefix link_prefix finger_number ">
        <tactile topic="tactile_mid_prox" data="sensors[${finger_number}]/middle[0]" link="${prefix}${link_prefix}middle" ns="${prefix}${link_prefix}_ubi_middle" xs="0 4095">
          <origin xyz="0 0 0" rpy="0 0 0" />
          <geometry>
            <mesh filename="package://sr_description/hand/model/ubi_tactiles/tax_mid_l.stl" scale="0.00101 0.00101 0.00101" />
          </geometry>    
        </tactile>
        <tactile topic="tactile_mid_prox" data="sensors[${finger_number}]/middle[1]" link="${prefix}${link_prefix}middle" ns="${prefix}${link_prefix}_ubi_middle" xs="0 4095">
          <origin xyz="0 0 0" rpy="0 0 0" />
          <geometry>
            <mesh filename="package://sr_description/hand/model/ubi_tactiles/tax_mid_r.stl" scale="0.00101 0.00101 0.00101" />
          </geometry>    
        </tactile>
  </xacro:macro>

</robot>
