<robot xmlns:xacro="http://ros.org/wiki/xacro"
       xmlns:geom="http://playerstage.topicforge.net/gazebo/xmlschema/#geom">
  
  <!-- prefix can be anything but usually is "r_" or  "l_" for right and left hands distinction -->
  <xacro:macro name="palm_tactile" params="prefix reflect">    
        <tactile topic="palm_extras" data="data[9]" link="${prefix}palm"  ns="${prefix}palm" xs="0 4095">
          <origin xyz="0 0 0" rpy="0 0 0" />
          <geometry>
            <mesh filename="package://sr_description/hand/model/ubi_tactiles/tax_palm_side.stl" scale="${reflect*0.00101} 0.00101 0.00101" />
          </geometry>    
        </tactile>
        <tactile topic="tactile_aux_spi" data="sensors[0]" link="${prefix}palm" ns="${prefix}palm" xs="0 4095">
          <origin xyz="0 0 0" rpy="0 0 0" />
          <geometry>
            <mesh filename="package://sr_description/hand/model/ubi_tactiles/tax_palm_up_r.stl" scale="${reflect*0.00101} 0.00101 0.00101" />
          </geometry>    
        </tactile>
        <tactile topic="tactile_aux_spi" data="sensors[1]" link="${prefix}palm" ns="${prefix}palm" xs="0 4095">
          <origin xyz="0 0 0" rpy="0 0 0" />
          <geometry>
            <mesh filename="package://sr_description/hand/model/ubi_tactiles/tax_palm_up_mid.stl" scale="${reflect*0.00101} 0.00101 0.00101" />
          </geometry>    
        </tactile>
        <tactile topic="tactile_aux_spi" data="sensors[2]" link="${prefix}palm" ns="${prefix}palm" xs="0 4095">
          <origin xyz="0 0 0" rpy="0 0 0" />
          <geometry>
            <mesh filename="package://sr_description/hand/model/ubi_tactiles/tax_palm_up_l.stl" scale="${reflect*0.00101} 0.00101 0.00101" />
          </geometry>    
        </tactile>
        <tactile topic="tactile_aux_spi" data="sensors[3]" link="${prefix}palm" ns="${prefix}palm" xs="0 4095">
          <origin xyz="0 0 0" rpy="0 0 0" />
          <geometry>
            <mesh filename="package://sr_description/hand/model/ubi_tactiles/tax_palm_center_r.stl" scale="${reflect*0.00101} 0.00101 0.00101" />
          </geometry>    
        </tactile>
        <tactile topic="tactile_aux_spi" data="sensors[4]" link="${prefix}palm" ns="${prefix}palm" xs="0 4095">
          <origin xyz="0 0 0" rpy="0 0 0" />
          <geometry>
            <mesh filename="package://sr_description/hand/model/ubi_tactiles/tax_palm_center_l.stl" scale="${reflect*0.00101} 0.00101 0.00101" />
          </geometry>    
        </tactile>
        <tactile topic="tactile_aux_spi" data="sensors[5]" link="${prefix}palm" ns="${prefix}palm" xs="0 4095">
          <origin xyz="0 0 0" rpy="0 0 0" />
          <geometry>
            <mesh filename="package://sr_description/hand/model/ubi_tactiles/tax_palm_center_mid.stl" scale="${reflect*0.00101} 0.00101 0.00101" />
          </geometry>    
        </tactile>
        <tactile topic="tactile_aux_spi" data="sensors[6]" link="${prefix}palm" ns="${prefix}palm" xs="0 4095">
          <origin xyz="0 0 0" rpy="0 0 0" />
          <geometry>
            <mesh filename="package://sr_description/hand/model/ubi_tactiles/tax_palm_down_r.stl" scale="${reflect*0.00101} 0.00101 0.00101" />
          </geometry>    
        </tactile>
        <tactile topic="tactile_aux_spi" data="sensors[7]" link="${prefix}palm" ns="${prefix}palm" xs="0 4095">
          <origin xyz="0 0 0" rpy="0 0 0" />
          <geometry>
            <mesh filename="package://sr_description/hand/model/ubi_tactiles/tax_palm_down_l.stl" scale="${reflect*0.00101} 0.00101 0.00101" />
          </geometry>    
        </tactile>
  </xacro:macro>
</robot>
