<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

  <!-- Create <tactile> tags describing the taxels
       tip_sensor: sensor type
       prefix:  hand prefix, usually rh_ or lh_
       reflect: +1 / -1 to indicate right / left hand
  -->
  <xacro:macro name="shadowhand_tactile"
               params="tip_sensor:=^ reflect:=^|1 prefix:=^|'' lf:=^|1 prox_sensor:=^|ubi mid_sensor:=^|ubi palm_sensor:=^|ubi_fabric">
    <xacro:if value="${'ubi' in [tip_sensor, prox_sensor, mid_sensor] or palm_sensor in ['ubi_fabric', 'ubi_baro']}">
      <!-- load macros specific to sensor type -->
      <xacro:include filename="$(find sr_description)/hand/xacro/tactile.ubi.xacro"/>

      <!-- finger tactile -->
      <!-- First Finger -->
      <xacro:finger_tactile finger="ff"/>
      <!-- Middle Finger -->
      <xacro:finger_tactile finger="mf"/>
      <!-- Ring Finger -->
      <xacro:finger_tactile finger="rf"/>
      <!-- Little Finger  -->
      <xacro:if value="${lf}">
        <xacro:finger_tactile finger="lf"/>
      </xacro:if>
      <!-- Thumb  -->
      <xacro:thumb_tactile/>

      <!-- palm tactile -->
      <!--  fabric or baro -->
      <xacro:if value="${palm_sensor in ['ubi_fabric']}">
        <xacro:palm_tactile_fabric/>
      </xacro:if>
      <xacro:if value="${palm_sensor in ['ubi_baro']}">
        <xacro:palm_tactile_baro/>
      </xacro:if>
    </xacro:if>
  </xacro:macro>

</robot>
