<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

  <!-- Create <tactile> tags describing the taxels
       tactile: sensor type
       prefix:  hand prefix, usually rh_ or lh_
       reflect: +1 / -1 to indicate right / left hand
       meshes:  create tags for mesh markers?
       normals: create tags for arrow markers?
  -->
  <xacro:macro name="shadowhand_tactile"
               params="tactile:=$ reflect:=$|1 prefix:=$|'' meshes:=$ normals:=$">
    <xacro:if value="${tactile in ['ubi']}">
      <!-- load macros specific to sensor type -->
      <xacro:include filename="$(find sr_description)/hand/xacro/tactile.${tactile}.xacro"/>

      <!-- Palm -->
      <xacro:palm_tactile />

      <!-- First Finger -->
      <xacro:finger_tactile finger="ff"/>
      <!-- Middle Finger -->
      <xacro:finger_tactile finger="mf"/>
      <!-- Ring Finger -->
      <xacro:finger_tactile finger="rf"/>
      <!-- Little Finger  -->
      <xacro:finger_tactile finger="lf"/>
      <!-- Thumb  -->
      <xacro:thumb_tactile/>
    </xacro:if>
  </xacro:macro>

</robot>
