<robot xmlns:xacro="http://www.ros.org/wiki/xacro">
  <xacro:include filename="taxel.xacro"/>

  <!-- set default values if not yet done -->
  <xacro:macro name="tactile_default_params" params="_link">
    <!-- mapping between finger name and sensor channel -->
    <xacro:property name="finger_no" value="${dict(ff=0, mf=1, rf=2, lf=3, th=4)}" scope="parent"/>

    <!-- mesh parameters -->
    <xacro:property name="mesh_dir" value="package://sr_description/hand/model/ubi_tactiles" scope="parent"/>
    <xacro:property name="mesh_scale" value="0.00101 0.00101 0.00101" scope="parent"/>
    <!-- <xacro:property name="origin" scope="parent"><origin xyz="0 0 0" rpy="0 0 0"/></xacro:property>-->

    <xacro:if value="${link == ''}">
      <xacro:property name="link" value="${prefix}${finger}${_link}" scope="parent"/>
    </xacro:if>
  </xacro:macro>

  <!-- Create <tactile> tags for a single finger
       All individual macros proximal_tactile, middle_tactile, and distal_tactile
       accept the following arguments:

       taxel_data: positions + normals
       tactile_name: unique name of the sensor
       link:       link name

       prefix:  hand prefix, usually rh_ or lh_
       finger:  finger name (ff, mf, rf, lf, th)
       reflect: +1 / -1 to indicate right / left hand
  -->
  <xacro:macro name="proximal_tactile"
               params="taxel_data tactile_name:=proximal link:='' 
                       prefix:=^|'' reflect:=^|1 finger:=^">

    <xacro:tactile_default_params _link="proximal"/>
    <xacro:property name="name" value="${prefix}${finger}${tactile_name}"/>
    <sensor name="${name}_sensor" update_rate="100" group="${finger}">
      <parent link="${link}" />
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <tactile channel="${name}">
        <xacro:taxel_macro idx="0" mesh="${mesh_dir}/tax_prox_r.stl"/>
        <xacro:taxel_macro idx="1" mesh="${mesh_dir}/tax_prox_m.stl"/>
        <xacro:taxel_macro idx="2" mesh="${mesh_dir}/tax_prox_l.stl"/>
      </tactile>
    </sensor>
    
  </xacro:macro>

  <xacro:macro name="middle_tactile"
               params="taxel_data tactile_name:=middle link:='' 
                       prefix:=^|'' reflect:=^|1 finger:=^">

    <xacro:tactile_default_params _link="middle"/>
    <xacro:property name="name" value="${prefix}${finger}${tactile_name}"/>
    <sensor name="${name}_sensor" update_rate="100" group="${finger}">
      <parent link="${link}" />
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <tactile channel="${name}">
        <xacro:taxel_macro idx="0" mesh="${mesh_dir}/tax_mid_l.stl"/>
        <xacro:taxel_macro idx="1" mesh="${mesh_dir}/tax_mid_r.stl"/>
      </tactile>
    </sensor>
    
  </xacro:macro>

  <xacro:macro name="distal_tactile"
               params="taxel_data tactile_name:=distal link:='' 
                       prefix:=^|'' reflect:=^|1 finger:=^">

    <xacro:tactile_default_params _link="distal"/>
    <xacro:property name="name" value="${prefix}${finger}${tactile_name}"/>
    <xacro:property name="tipname" value="${'thtip' if finger=='th' else 'tip'}"/>
    <sensor name="${name}_sensor" update_rate="100" group="${finger}">
      <parent link="${link}" />
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <tactile channel="${name}">
        <xacro:taxel_macro idx="0" mesh="${mesh_dir}/tax_${tipname}_0.stl"/>
        <xacro:taxel_macro idx="1" mesh="${mesh_dir}/tax_${tipname}_1.stl"/>
        <xacro:taxel_macro idx="2" mesh="${mesh_dir}/tax_${tipname}_2.stl"/>
        <xacro:taxel_macro idx="3" mesh="${mesh_dir}/tax_${tipname}_3.stl"/>
        <xacro:taxel_macro idx="4" mesh="${mesh_dir}/tax_${tipname}_4.stl"/>
        <xacro:taxel_macro idx="5" mesh="${mesh_dir}/tax_${tipname}_5.stl"/>
        <xacro:taxel_macro idx="6" mesh="${mesh_dir}/tax_${tipname}_6.stl"/>
        <xacro:taxel_macro idx="7" mesh="${mesh_dir}/tax_${tipname}_7.stl"/>
        <xacro:taxel_macro idx="8" mesh="${mesh_dir}/tax_${tipname}_8.stl"/>
        <xacro:taxel_macro idx="9" mesh="${mesh_dir}/tax_${tipname}_9.stl"/>
        <xacro:taxel_macro idx="10" mesh="${mesh_dir}/tax_${tipname}_10.stl"/>
        <xacro:taxel_macro idx="11" mesh="${mesh_dir}/tax_${tipname}_11.stl"/>
      </tactile>
    </sensor>
    
  </xacro:macro>

  <xacro:macro name="finger_tactile"
               params="prefix:=^|'' reflect:=^|1 finger">
    <xacro:property name="taxel_dir" value="$(find sr_description)/hand/xacro/finger"/>

    <!-- Proximal -->
    <xacro:proximal_tactile taxel_data="${load_yaml(taxel_dir + '/proximal/proximal.taxels.ubi.yaml')}"/>
    <!-- Middle -->
    <xacro:middle_tactile taxel_data="${load_yaml(taxel_dir + '/middle/middle.taxels.ubi.yaml')}"/>
    <!-- Distal -->
    <xacro:distal_tactile taxel_data="${load_yaml(taxel_dir + '/distal/distal.taxels.ubi.yaml')}"/>

  </xacro:macro>

  <xacro:macro name="thumb_tactile"
               params="prefix:=^|'' reflect:=^|1">
    <xacro:property name="taxel_dir" value="$(find sr_description)/hand/xacro/thumb"/>

    <!-- Distal  -->
    <xacro:distal_tactile finger="th" taxel_data="${load_yaml(taxel_dir + '/thdistal.taxels.ubi.yaml')}"/>

  </xacro:macro>

  <xacro:macro name="palm_tactile"
               params="prefix:=^|'' reflect:=^|1">
    <xacro:property name="taxel_dir" value="$(find sr_description)/hand/xacro/palm"/>
    <xacro:property name="taxel_data" value="${load_yaml(taxel_dir + '/metacarpal.taxels.ubi.yaml')}"/>
    <xacro:property name="link" value="${prefix}lfmetacarpal"/>

    <!-- default finger and data properties to allow calling tactile_default_params -->
    <xacro:property name="finger" value="palm"/>
    <xacro:tactile_default_params _link=""/>
    <!-- left palm marker meshes need to be reflected -->
    <xacro:property name="mesh_scale" value="${reflect*0.00101} 0.00101 0.00101"/>

    <!-- taxels attached to lfmetacarpal -->
    <sensor name="${prefix}lfmetacarpal_sensor" update_rate="100" group="palm">
      <parent link="${link}" />
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <tactile channel="${prefix}lfmetacarpal">
        <xacro:taxel_macro idx="0" mesh="${mesh_dir}/tax_metac_upper.stl"/>
        <xacro:taxel_macro idx="1" mesh="${mesh_dir}/tax_metac_lower.stl"/>
        <xacro:taxel_macro idx="2" mesh="${mesh_dir}/tax_metac_side.stl"/>
      </tactile>
    </sensor>

    <!-- taxels attached to palm -->
    <xacro:property name="taxel_data" value="${load_yaml(taxel_dir + '/palm.taxels.ubi.yaml')}"/>
    <xacro:property name="link" value="${prefix}palm"/>
    <sensor name="${prefix}palm_sensor" update_rate="100" group="palm">
      <parent link="${link}" />
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <tactile channel="${prefix}palm">
        <xacro:taxel_macro idx="0" mesh="${mesh_dir}/tax_palm_up_r.stl"/>
        <xacro:taxel_macro idx="1" mesh="${mesh_dir}/tax_palm_up_mid.stl"/>
        <xacro:taxel_macro idx="2" mesh="${mesh_dir}/tax_palm_up_l.stl"/>
        <xacro:taxel_macro idx="3" mesh="${mesh_dir}/tax_palm_center_r.stl"/>
        <xacro:taxel_macro idx="4" mesh="${mesh_dir}/tax_palm_center_l.stl"/>
        <xacro:taxel_macro idx="5" mesh="${mesh_dir}/tax_palm_center_mid.stl"/>
        <xacro:taxel_macro idx="6" mesh="${mesh_dir}/tax_palm_down_r.stl"/>
        <xacro:taxel_macro idx="7" mesh="${mesh_dir}/tax_palm_down_l.stl"/>
        <xacro:taxel_macro idx="8" mesh="${mesh_dir}/tax_palm_side.stl"/>
      </tactile>
    </sensor>
    
  </xacro:macro>
</robot>
