<taxel xmlns:xacro="http://www.ros.org/wiki/xacro">

  <!-- Create mesh and arrow markers for a single taxel.
       Expected parameters:
       idx: the index in the channelfloat32 values
       taxel_data: dict of taxel positions and orientations
       mesh: mesh resource
       mesh_scale: 3-dim vector for mesh scaling
  -->
  <xacro:macro name="taxel_macro"
               params="idx taxel_data:=^
                       mesh:=^ mesh_scale:=^">
    <taxel idx="${idx}"
           xyz="${' '.join([str(v) for v in taxel_data['positions'][idx]])}"
           rpy="${' '.join([str(v) for v in taxel_data['orientations'][idx]])}">
      <geometry>
        <mesh filename="${mesh}" scale="${mesh_scale}" />
      </geometry>
    </taxel>
  </xacro:macro>

</taxel>
